body{
    font-family: 'Poppins', sans-serif;
}
.bg-custom{
    background-color: #264653;
    ;
}
.btn-custom{
    background: #E76F51;
    color: white;
    text-transform: capitalize;
}
.text-color{
    color: #E76F51;
}
hr{
    width: 60px;
    margin: auto;
    border: 1px solid #E76F51;
}
.gray-scale{
    filter: grayscale(100%);
}
/* reviews */
.text-color2{
    color: #252B42;
}
.text-color3{
    color: #23A6F0;
}
.border-grey{
    color: gray;
}